<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://elsmbtatrackerwebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>elsmbtatrackerwebapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ELSMbtaTrackerWebApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ELSMbtaTrackerWebApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MbtaTrackerDb" Order="1" Enabled="False">
          <Destination Path="Data Source=eschweppe.database.windows.net;Initial Catalog=MbtaTracker;User ID=eschweppe;Password=WomBleFoo4;Application Name=EntityFramework" Name="data source=eschweppe.database.windows.net;initial catalog=MbtaTracker;user id=eschweppe;password=WomBleFoo4;MultipleActiveResultSets=True;App=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MbtaTracker.WebApi.Models.MbtaTrackerDb, MbtaTracker.WebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MbtaTrackerDb-Web.config Connection String">
      <ParameterValue>data source=eschweppe.database.windows.net;initial catalog=MbtaTracker;user id=eschweppe;password=WomBleFoo4;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>