<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Why the hell do I have to keep putting EF entries in config files?!?!?! -->
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="GtfsStaticFolder" value="C:\Users\edmund\Downloads"/>
    <add key="GtfsStaticZipFile" value="MBTA_GTFS_20160921.zip"/>
    <add key="MbtaRealtimeApiKey" value="wX9NwuHnZU2ToO7GmGR9uw"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="MbtaTracker" connectionString="data source=localhost;initial catalog=MbtaTracker;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"/>-->
    <add name="MbtaTracker" 
         connectionString="data source=eschweppe.database.windows.net;initial catalog=MbtaTracker;user id=eschweppe;password=WomBleFoo4;MultipleActiveResultSets=True;App=EntityFramework"/>
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="tlConfig" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
