CREATE DATABASE [MbtaTracker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MbtaTracker', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MbtaTracker.mdf' , SIZE = 4096KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MbtaTracker_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MbtaTracker_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [MbtaTracker]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [MbtaTracker] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO


CREATE SCHEMA GtfsStatic;
GO

CREATE SCHEMA MbtaRt;
GO